{{ attach_library( 'fcss/fcoe-header' ) }}
<div class="layout-container layout-container--fcoe-header">
  <div class="title-bar title-bar--fcoe-nav" data-responsive-toggle="globalNav" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle><span class="show-for-sr">Menu</span></button>
    <div class="title-bar-title">FCOE Menu</div>
  </div>
  <div class="fcoe-header row">
    <div class="fcoe-nameplate columns medium-7">
      <h3 class="fcoe-nameplate__title"><a href="https://fcoe.org/">Fresno County Superintendent of Schools</a></h3>
      <h4 class="fcoe-nameplate__president"><a href="/superintendent">Jim Yovino, Superintendent of Schools</a></h4>
    </div>
    <div class="columns search-box small-11 medium-5">
      <p class="motto">Changing lives one future at a time</p>
      <form action="/search/sites" data-drupal-selector="search-form"accept-charset="UTF-8" method="get" id="google-cse-searchbox-form">
        <label for="edit-keys" class="show-for-sr">Search</label>
        <input type="search" id="edit-keys" name="keys" placeholder="Search FCOE" />
      </form>
    </div>
  </div>
  <div class="fcoe-header--nav">
    <nav role="navigation" id="globalNav" class="fcoe-nav row">
      <ul class="fcoe-nav__menu vertical menu medium-horizontal columns">
        <li class="fcoe-nav__menu-item"><a class="fcoe-nav__menu-link fcoe-nav__menu-link--first" href="/">Home</a></li>
        <li class="fcoe-nav__menu-item"><a class="fcoe-nav__menu-link fcoe-nav__menu-link" href="/office-education">Office of Education</a></li>
        <li class="fcoe-nav__menu-item"><a class="fcoe-nav__menu-link" href="/departments">Departments</a></li>
        <li class="fcoe-nav__menu-item"><a class="fcoe-nav__menu-link" href="/districts">Districts</a></li>
        <li class="fcoe-nav__menu-item"><a class="fcoe-nav__menu-link" href="/events">Events</a></li>
        <li class="fcoe-nav__menu-item"><a class="fcoe-nav__menu-link" href="/board-education">Board of Education</a></li>
        <li class="fcoe-nav__menu-item"><a class="fcoe-nav__menu-link" href="/professional-development">Professional Development</a></li>
        <li class="fcoe-nav__menu-item"><a class="fcoe-nav__menu-link fcoe-nav__menu-link--last" href="https://www.edjoin.org/fcoe">Join Our Team</a></li>
      </ul>
    </nav>
  </div>
</div>
