
//  Non-Foundation Variables
//
//  Base configuration values can be found inside vendors/_foundation_config.scss
//  Check there first

//  Paths

    $path: "";
    $js_path: "#{$path}js/";

//  FCOE Color Palette

    $blue-primary: #385988;
    $blue-dark: #193365;
    $blue-light: #cde2ff;
    $blue-lightest: #ebf3ff;
    $blue-bright: #005696;
    $blue-darkest: #0f1f3e;


    $bronze: #bc995d;

    $highlight: #fffc7e;

    $gray-light: #f2f1f1;
    $gray: #d7d7d7;
    $gray-medium: #706560;
    $gray-dark: #464343;

//  Typography

    $light: 300;
    $normal: 400;
    $semi-bold: 600;
    $bold: 700;
    $extra-bold: 800;

//


