@import 'init';

.employee {
    font-size: rem-calc(14px);
    line-height: rem-calc(17px);
    max-width: 50%;
}

.employee--display-contact-details {
    margin-bottom: 22px;
    margin-top: 8px;
}

.employee__position {
	margin: 0 0 7px 0;
	text-transform: uppercase;
	font-size: 13px;
	padding: 0;
}

.employee {
    &__title,
    &__employee-phone,
    &__employee-name,
    &__employee-title,
    &__employee-email,
    &__edit-link {
        margin-bottom: 0px;
    }
    &__edit-link {
        font-weight: bold;
        margin-top: 10px;
    }
    &__employee-photo {
        margin-right: 20px;
        img {
            display: block;
            border: 1px solid $gray;
            padding: 4px;
        }
    }
    &__employee-name {
        font-weight: bold;
	font-size: rem-calc(15px);
    }
    &__heading {
        background: #eee;
        padding: 8px;
        margin-bottom: 20px;
        margin-top: 30px;
    }
}

.paragraph--type--contact-information {
    max-width: 500px;
    margin-bottom: 10px;
    &-custom {
        max-width: 500px;
    }
}
