{{ attach_library( 'fcss/contact-card' ) }}
{% if employee_heading %}
    <h4 class="employee__heading">{{ employee_heading }}</h4>
{% endif %}
<article{{ attributes.addClass(classes) }}>
    <div class="row collapse">
        {% if employee_photo %}
        <div class="columns small-5">
            <p class="employee__employee-photo"><img src="{{ employee_photo }}" /></p>
        </div>
        <div class="columns small-7">
        {% else %}
        <div class="columns small-12">
        {% endif %}
            <p {{ title_attributes.addClass(title_classes) }}>{{ contact_name|raw }}</p>
            {% if employee_position %}
            <p class="employee__position">{{ employee_position|raw }}</p>
            {% endif %}
	    {% if employee_email %}
            <p class="employee__employee-email">{{ employee_email|raw }}</p>
            {% endif %}
            {% if employee_phone %}
            <p class="employee__employee-phone">{{ employee_phone|raw }}</p>
            {% endif %}
            {% if is_admin and include_edit_link %}
            <a class="employee__edit-link button secondary small" href="/node/{{ node.id }}/edit?destination=/contact">{{ 'Edit Employee'|t }}</a>
            {% endif %}
        </div>
    </div>
</article>
