.pager {
  padding-top: 30px;
  &__item {
    background: #ebf3ff;
    margin-right: rem-calc(2px) !important;
    &--ellipsis {
      background: none;
    }
    &.is-active {
      font-weight: bold;
    }
  }
}
