@import "init";

.title-bar {
    &--site-nav {
        background: $gray-light;
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
        color: $dark-gray;
        @media #{$medium-up} {
          border: 0px solid $gray;
        }
        .title-bar-title {
            font-weight: $semi-bold;
            text-transform: uppercase;
        }
        .menu-icon::after {
          background: $dark-gray;
          box-shadow: 0 6px 0 $dark-gray, 0 12px 0 $dark-gray;
        }
    }
}

.site-nav {
    &__menu {
        background: $gray;
        @media #{$large-up} {
            background: #ffffff;
            border: 1px solid $gray;
            border-left: 0;
            border-right: 0;
            &--second-level {
                padding: 6px 0;
                border: 1px solid $gray;
                font-size: rem-calc(15px);
            }
        }
    }
    &__menu-link {
        color: $gray-dark;
        border-bottom: 1px solid white;
        font-weight: $semi-bold;
        @media #{$large-up} {
            color: $gray-dark;
            text-transform: uppercase;
            font-size: rem-calc(14);
            &--second-level {
                padding: 0.5rem 1rem !important;
                line-height: 1.2 !important;
            }
            &--first {
                padding-left: 0 !important;
            }
        }
    }
}

