// place global styles here

/**
 *
 * Global
 *
 **/

html, body {
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::selection {

}

h1 {
  padding-top: 20px;
  padding-bottom: 10px;
}

h2 {

}

h3 {
  color: $blue-bright;

}

h4 {
  font-weight: $semi-bold;
}

h5 {
  color: $blue-bright;
  font-weight: $semi-bold;
}

h6 {
  font-weight: $semi-bold;
  text-transform: uppercase;
}

figure {
  margin: 0 !important;
  padding: 0 !important;
}

div[role=contentinfo] {
  margin-top: 30px !important ;
  @include callout($success-color);
  border: 0;
}

img {
  &.align-right {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}


// conact_information_custom__contact-image

.paragraph--type--conact-information-custom {
  font-size: rem-calc(14px);
  line-height: rem-calc(17px);
  max-width: 50%;
}

.conact_information_custom {
  &__name,
  &__phone-number,
  &__name,
  &__email,
  &__edit-link {
    margin-bottom: 5px;
  }
  &__edit-link {
    font-weight: bold;
    margin-top: 10px;
  }
  &__name {
    font-weight: bold;
  }
  &__contact-image {
    margin-right: 20px;
    img {
      display: block;
      border: 1px solid $gray;
      padding: 4px;
    }
  }
}

#block-tabs {
  position: relative;
  z-index: 100;

  ul {
    position: relative;
    top: 25px;
    right: 0;
    float: right;
  }
  li {
    display: inline-block;
    @include button();
    padding: 4px 6px;
    text-transform: uppercase;
    a {
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      padding: 0px 0px;
    }
  }
}


#block-fcss-local-tasks {
  position: relative;
  z-index: 100;
  ul {
    position: relative;
    top: 25px;
    right: 0;
    float: right;
  }
  li {
    display: inline-block;
    @include button();
    padding: 4px 6px;
    text-transform: uppercase;
    a {
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      padding: 0px 0px;
    }
  }
}

.news-block-story__body--trimmed p {
  font-size: rem-calc(13px);
  line-height: 1.6;
}

h5 a {
  text-decoration: underline;
}

