@import 'init';

.page-edit-link {
  width: 33px;
  margin-top: -6px;
}

.views-element-container {
  position: relative;
}

.fp--departments {
  .container > div {
    -webkit-column-count: 2;
    column-count: 2;
    .item-list {
      h3 {
        background: #f9f9f9;
        margin: 0 15px 0 0;
        padding: 5px 15px;
      }
      ul {
        list-style-type: none;
        margin: 0 25px 20px 0;
        padding: 0;
        li {
          border-top: 1px solid #def0fc;
          a {
            padding: 5px 0 5px 15px;
            display: block;
          }
        }
      }
      -webkit-column-break-inside: avoid;
      break-inside: avoid-column;
    }
  }
}

.event__event-registration div:first-child {
  font-weight:  bold;
  font-size:  13px;
  text-transform: uppercase;
  color: #193365;
}

.event--display-detailed-list {
  margin-bottom: 24px;
  border-bottom: 1px dotted #dddddd;
  padding-bottom: 16px;
}

.homepage-features {
  h2 {
    font-size: rem-calc(23px);
    color: $blue-primary;
    position: relative;
    font-size: rem-calc(26px);
    color: $blue-bright;
    border-bottom: 2px solid $blue-light;
    margin-top: 20px;
    padding-bottom: 12px;
    margin-bottom: 25px;
    text-align: center;
    background: $blue-light;
    padding: 8px 0;
    margin-top: 0;
    &:before {
      display: none;
    }
    @media #{$medium-up} {
      background: none;
      font-size: rem-calc(23px);
      text-align: left;
      color: $blue-primary;
      position: relative;
      font-size: rem-calc(21px);
      color: $blue-bright;
      border-bottom: 2px solid $blue-light;
      margin-top: 20px;
      padding-bottom: 12px;
      margin-bottom: 15px;
      &:before {
        background: $blue-bright;
        bottom: 0;
        left: 0;
        content: "";
        display: block;
        height: 2px;
        margin: 0 0 -2px;
        position: absolute;
        width: 40px;
      }
    }
  }
}


.collapsit {
  padding: 0 !important;
}

.image_callout {

  &__callout-image {
    margin-top: -30px;
    overflow: hidden;
    @media #{$small-only} {
      margin: -15px;
    }
    @media #{$medium-up} {
      height: auto;
      margin-top: -15px;
    }
    @media #{$large-up} {
      height: auto;
    }
    img {

      @media #{$medium-only} {
      }
    }
  }
  &__body {
    margin-top: -30px;
    p {
      line-height: 1.5;
      padding: 15px 25px 0px 25px;
      margin: 0;

    }
    color: $blue-darkest;
    background: #efe9e3;
    background: #ebf3ff;
    padding: 35px 20px 5px;
    font-size: rem-calc(13px);
    @media #{$large-up} {
      margin-top: -15px;
      height: 250px;
    }
    @media #{$small-only} {
      padding-top: 30px !important;
    }
    a {
      @include button();
      margin-bottom: 0;
      background: #53493e;
      background: $blue-bright;
      padding: 6px 8px;
      font-size: rem-calc(13px);
      font-weight: 600;
    }
  }
}

.sidebar-title {
  padding-top: 10px;
  margin-top: 15px;
  position: relative;
  font-size: rem-calc(21px);
  color: $blue-bright;
  border-bottom: 2px solid $blue-light;
  padding-bottom: 12px;
  margin-bottom: 15px;
  &:before {
    background: $blue-bright;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    height: 2px;
    margin: 0 0 -2px;
    position: absolute;
    width: 40px;
  }
}

.gallery {
  &__gallery-images {
    padding-top: 30px;
  }
  &__image {
    padding-bottom: 30px;
  }
}

.icon-list {
  border-bottom: 1px dotted #dddddd;
  margin: 5px 0 25px 0 !important;
  padding: 25px 0 !important;
}

.link-list {
  padding-top: 15px;
  padding-left: 15px;
  &__item {
    padding: 1px 0 0 0;
    font-size: rem-calc(15px);
  }
}

.link_list__bt__link-list__description {
  font-size: rem-calc(13px);
  line-height: 1.5;
}

.event__event-date {
  font-size: rem-calc(15px);
  font-weight: bold;
  color: $blue-dark;
  margin-top: -10px;
  margin-bottom: 20px;
}

.grouping__title {
  background: $gray-light;
  padding: 4px 8px;
  font-size: rem-calc(20px);
  margin: 20px 0;
  border-bottom: 1px solid $gray;
}

.align-left {
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}

#block-views-block-news-block-1 {
  .views-field-title {
    font-weight: bold;
  }
}

.video-grid ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    .views-field-title {
      font-size: rem-calc(16px);
      color: #464343;
      padding: 15px 0 0 0;
      font-weight: normal;
    }
    .views-field-body {
      display: none;
    }
    a {
      position: relative;
      display: inline-block;
      cursor: pointer;
      &:before {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        content: "\f01d";
        font-family: FontAwesome;
        font-size: 100px;
        color: #fff;
        opacity: .8;
        text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
        pointer-events: inherit;
      }
      &:hover:before {
        color: #eee;
      }
    }
  }
}

#block-views-block-video-grid-block-1 {
  .video-grid ul li .views-field-title {
    font-size: rem-calc(16px);
    line-height: 1.5;
  }
}

.full-screen-video {
  position: relative;
  margin-top: 40px;
  max-width: 900px;
  h3 {
    margin-top: 25px;
  }
  .close-button {
    top: -44px;
  }
}
.orbit-wrapper {margin-top: 10px !important;}
.orbit-bullets {margin-bottom: 0 !important;float: right;}
.orbit-bullets button {
  border-radius: 0 !important;
  background: $blue-light !important;
  height: 1em !important;
  width: 1em !important;
  &.is-active {
    background: $blue-dark !important;

  }
}

.hero_image {
  margin-top: 15px;
  position: relative;
  &__content {
    font-size: rem-calc(13px);
    padding: 19px 30px 20px;
    width: 100%;
    background: rgba(96, 78, 53, 0.9);
    @media #{$medium-up} {
      position: absolute;
      width: 70%;
      bottom: 0px;
    }
    @media #{$large-up} {
      bottom: 30px;;
      width: 45%;
    }
    &--light {
      a {
        background: $blue-darkest;
        color: #fff;
      }
    }
    &--dark {
      background: rgba(15, 31, 62, 0.9);
      a {
        background: $blue-bright;
        color: #fff;
      }
    }
    &--left {
      left: 0;
      right: auto;
    }
    &--right {
      right: 0;
      left: auto;
    }
  }
  &__hero-title {
    color: #fff;
    font-weight: 600;
    font-size: rem-calc(20px);
    text-shadow: 0 1px 1px #222;
  }
  &__body {
    color: #fff;
    text-shadow: 0 1px 1px #555;
    padding: 0;
    margin: 0 0 10px 0;

  }
  &__hero-link a {
    text-shadow: none;
    display: inline-block;
    padding: 4px 8px;
    font-size: rem-calc(13px);
    font-weight: 600;
    border-radius: $global-radius;
  }
}

.homepage {
  &--secondary-content{
    padding-top: 8px;
  }
}

.board-members ul {
  padding-top: 15px;
  list-style-type: none;
  li {
    border-bottom: 1px solid $gray;
    margin-bottom: 25px;
    padding-bottom: 18px;
  }
  div.board-member-image img {
    margin-top: 8px;
  }
  p.board-member-quote {
    background: #ffffff;
    font-style: italic;
    padding: 11px 0;
  }
  div.board-member-bio {
    padding-top: 5px;
  }
}

.hero_image_wrapper {
  position: relative;
  margin-top: 10px;
}

.hero_image_text {
  @media #{$medium-up} {
    position: absolute;
    bottom: 25px;
    right: 0px;
    max-width: 580px;
  }
  background: rgba(15, 31, 62, 0.95);
  h4 {
    padding: 20px 30px 5px 25px;
    color: #fff;
    a {
      codlor: #fff;
    }
  }
  p {
    padding: 0 25px 28px;
    margin: 0;
    color: #fff;
  }
  a {
    color: #fff;
    text-decoration: underline;
    color: yellow;
  }

}

.edu-morelink {
  display: block;
  position: absolute;
  top: 10px;
  right: 0;

}

.about-fcoe-title, .about-fcoe-text {
  margin-left: 16px;
  margin-bottom: 0;
}

.about-fcoe-img {
  margin-bottom: 19px;
}

.about-fcoe-text {
  font-size: 13px;
  line-height: 18px;
}

.block-more-news-link, .block-more-events-link {
  font-size: 13px;
  background: #ffffff;
  border-top: 1px solid #f0f0f0;
  padding: 5px 8px;
  text-align: right;
}

.district-list-wrapper {
  margin-top: 14px;
  padding-right: 0px;
}

.district-item-inner {
  border: 1px solid #ccc;
  margin: 0 15px 15px 0;
  padding: 14px 20px 0;
  min-height: 250px;
  box-shadow: 0px 3px 1px rgba(68, 68, 68, 0.2);
  h3 {
    font-size: 1.3rem;
  }
}

.district-list {
  list-style-type: none;
  li {

  }
}


.bar__header {
  background: #eee;
  padding: 8px 16px;
  margin-bottom: 10px;
  margin-top: 30px;
  &--map {
    margin-bottom: 30px;
  }
}

.sarc-list {
  margin: 0;padding: 0;
  list-style-type: none;
  li {
    border-bottom: 1px solid #f0f0f0;
    padding: 6px;
  }
}


.event__event-time--label,
.event__event-location--label,
.event__body--label {
  font-weight: bold;
  color: $blue-primary;
}

.event__event-time,
.event__event-location,
.event__body {
  margin-bottom: 10px;
}


.event--display-detailed-list {
  .event__event-time {
    font-size: rem-calc(18px);
    color: $blue-primary;
  }
  .event__event-location {
    margin-bottom: 0;
  }
  .event__event-location div, .event__body div {
    display: inline-block;
    margin-left: 10px;
    text-align: right;
  }
  .event__event-location--label,
  .event__body--label {
    width: 100px;
  }
  .event__body {
    font-size: rem-calc(14px);
    margin-bottom: 0;
    p {
      margin: 0;
      padding: 0;
    }
  }
}

.news__title {
  color: #0f1f3e;
  a {
    color: #0f1f3e;
  }
  text-decoration: none;
  line-height: inherit;
  cursor: pointer;
}

.news__created {
  font-size: rem-calc(14px);
  text-transform: uppercase;
}

.spotlight_story__spotlight-banner-image {
  margin-bottom: 25px;
  img {
    border-bottom: 3px solid $blue-primary;
  }

}


.archive-block__title {
  margin-bottom: 0;
}

#block-views-block-archive-block-2,
#block-views-block-archive-block-3 {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #ebf3ff;
    li {
      color: #666;
      padding: 0px;
      border-bottom: 1px solid #ffffff;
      a {
        font-size: rem-calc(14px);
        padding: 8px 0 8px 12px;
        display: inline-block;
      }
    }
  }
}

.modal-video {
  min-height: 270px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.news-page__list {
  list-style-type: none;
  margin: 0 25px 0 0;
  .news-page__item {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 15px;
  }
}



#google-cse-results tbody {
  border: 0 !important;
}
.search-form .container-inline {
  padding: 12px 0;
  text-align: center !important;
  label {
    display: none;
  }
  input {
    display: inline-block !important;
    margin: 0 !important;
    &.form-submit {
      height: 39px;
      background-color: $blue-dark;
      margin-top: -3px !important;
      margin-left: 7px !important;
    }
  }
}
#search-form {
  margin-bottom: 40px !important;
  border: 0px solid #eee;
  border-left: 0;
  background: #ebf3ff;
  border-right: 0;
  padding: 5px 0;
  .search-help-link {
    display: none;
  }
  input[type="search"] {
    width: auto;
    display: inline-block;
  }
}

.gsc-control-cse {
  padding: 0 !important;
}
.gsc-above-wrapper-area-container {
  margin: 0;
  padding: 0;
  tbody td {
    padding: 0;
    margin: 0;
  }
  .gsc-result-info {
    padding: 0;
  }
}

.gsc-resultsHeader {
  display: none !important;
}


.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
  padding: 0 !important;
}

.gsc-webResult .gsc-result {
  padding: 16px 0 !important;
  border-bottom: 1px solid #e9e9e9 !important;
}

.gsc-table-result {
  margin-bottom: 0 !important;
}

.gs-title, .gsc-control-cse .gs-result .gs-title * {
  font-size: rem-calc(19px) !important;
  line-height: rem-calc(26px) !important;
  text-decoration: none !important
}

.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b,
.gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
  color: $blue-bright !important;
}

.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
  color: $blue-primary !important;
}

.gsc-result .gs-title {
  height: auto !important;
}

.gsc-control-cse {
  font-family: "Open Sans", Helvetica Nueue, Helvetica, Arial, sans-serif !important;
}

.gsc-control-cse, .gsc-control-cse .gsc-table-result {
  font-size: rem-calc(14px) !important;
  font-family: "Open Sans", Helvetica Nueue, Helvetica, Arial, sans-serif !important;
}

.gsc-results .gsc-cursor-box {
  text-align: center !important;
  margin: 0 !important;
  padding-top: 30px;
  font-size: rem-calc(16px) !important;
  border-top: 1px solid #e9e9e9 !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
  font-size: 0.875rem !important;
  border-radius: 0.25rem !important;
  background: #ebf3ff !important;
  padding: 0.1875rem 0.625rem !important;
  margin-right: 0.25rem !important;
}

.contact-grid {
  list-style-type: none;
  &--item {
    font-size: rem-calc(14px);
    line-height: 1.7;
    margin-bottom: 24px;
    margin-top: 13px;
  }
  h4 {
    margin: 0;
    font-size: rem-calc(17px);
    padding: 0;
  }
  .views-field-field-emp-title {
    font-size: rem-calc(13px);
    text-transform: uppercase;
    margin-bottom: 7px;
  }
}

.contact-grid-wrapper {
  h3 {
    padding-bottom: 12px;
    border-bottom: 1px solid $blue-light;
  }
}

.views-field-field-employee-image {
  float: left;
  margin-right: 20px;
}

.district-list-wrapper > h3 {
  margin-bottom: 25px;
  color: $blue-dark;
  margin-right: 15px;
}

.highlight {
  border: 1px dotted $blue-bright;
  background: $blue-lightest;
  padding: 10px 15px;
}

.page {
  &__document-file {
    &--label {
      font-size: 24px;
      color: $blue-primary;
      border-bottom: 2px solid $blue-light;
    }
    .file a {
      padding: 6px 0 6px 30px;
      display: block;
      border-bottom: 2px solid $blue-lightest;
      background-repeat: no-repeat;
      background-position: 5px 50%;
      background-size: 16px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 550.801 550.801" style="enable-background:new 0 0 550.801 550.801;" xml:space="preserve"> <g> <path d="M160.381,282.225c0-14.832-10.299-23.684-28.474-23.684c-7.414,0-12.437,0.715-15.071,1.432V307.6   c3.114,0.707,6.942,0.949,12.192,0.949C148.419,308.549,160.381,298.74,160.381,282.225z" fill="#006DF0"/> <path d="M272.875,259.019c-8.145,0-13.397,0.717-16.519,1.435v105.523c3.116,0.729,8.142,0.729,12.69,0.729   c33.017,0.231,54.554-17.946,54.554-56.474C323.842,276.719,304.215,259.019,272.875,259.019z" fill="#006DF0"/> <path d="M488.426,197.019H475.2v-63.816c0-0.398-0.063-0.799-0.116-1.202c-0.021-2.534-0.827-5.023-2.562-6.995L366.325,3.694   c-0.032-0.031-0.063-0.042-0.085-0.076c-0.633-0.707-1.371-1.295-2.151-1.804c-0.231-0.155-0.464-0.285-0.706-0.419   c-0.676-0.369-1.393-0.675-2.131-0.896c-0.2-0.056-0.38-0.138-0.58-0.19C359.87,0.119,359.037,0,358.193,0H97.2   c-11.918,0-21.6,9.693-21.6,21.601v175.413H62.377c-17.049,0-30.873,13.818-30.873,30.873v160.545   c0,17.043,13.824,30.87,30.873,30.87h13.224V529.2c0,11.907,9.682,21.601,21.6,21.601h356.4c11.907,0,21.6-9.693,21.6-21.601   V419.302h13.226c17.044,0,30.871-13.827,30.871-30.87v-160.54C519.297,210.838,505.47,197.019,488.426,197.019z M97.2,21.605   h250.193v110.513c0,5.967,4.841,10.8,10.8,10.8h95.407v54.108H97.2V21.605z M362.359,309.023c0,30.876-11.243,52.165-26.82,65.333   c-16.971,14.117-42.82,20.814-74.396,20.814c-18.9,0-32.297-1.197-41.401-2.389V234.365c13.399-2.149,30.878-3.346,49.304-3.346   c30.612,0,50.478,5.508,66.039,17.226C351.828,260.69,362.359,280.547,362.359,309.023z M80.7,393.499V234.365   c11.241-1.904,27.042-3.346,49.296-3.346c22.491,0,38.527,4.308,49.291,12.928c10.292,8.131,17.215,21.534,17.215,37.328   c0,15.799-5.25,29.198-14.829,38.285c-12.442,11.728-30.865,16.996-52.407,16.996c-4.778,0-9.1-0.243-12.435-0.723v57.67H80.7   V393.499z M453.601,523.353H97.2V419.302h356.4V523.353z M484.898,262.127h-61.989v36.851h57.913v29.674h-57.913v64.848h-36.593   V232.216h98.582V262.127z" fill="#006DF0"/> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>');
    }
  }
}

.edit-link {
  margin-right: 8px;
}

#block-views-block-agenda-list-terms-block-1 {
  margin-bottom: 33px;
  border-bottom: 2px solid #cde2ff;
  h2 {
    margin-bottom: 0;
  }
  .container {
    background: #ebf3fe;
  }
  .views-field-field-document-date {
    font-size: rem-calc(12px);
    font-weight: 700;
    line-height: rem-calc(12px);
    text-transform: uppercase;
    color: #5f6e85;
    display: block;
    margin-right: 180px;
    border-top: 3px solid white;
    padding-top: 17px;
    padding-left: 22px;
  }
  .views-field-field-brown-act-meeting-titles {
    font-size: rem-calc(14px);
    line-height: rem-calc(18px);
    color: #355989;
    font-weight: 700;
    padding-bottom: 17px;
    padding-top: 3px;
    padding-left: 22px;
  }
  .views-field-view:first-child {
    .views-field-field-document-date {
      border-top: 0;
    }
  }
}

/*----- Application form -----*/

.webform-submission-form {
  fieldset.webform-composite-hidden-title {
    margin: 0;
  }
  .form-item {
    padding-bottom: 10px;
    &#edit-markup {
      padding: 0 0 40px 0;
    }
    &.form-wrapper {
      padding-bottom: 0;
    }
    &.js-form-type-checkbox {
      padding-bottom: 0;
      .form-checkbox {
        margin-left: 20px;
      }
      .fieldset-wrapper {
        margin-left: 20px;
      }
    }
  }
  fieldset > legend {
    padding-bottom: 0;
  }
  label, legend {
    font-size: rem-calc(15px);
    font-weight: 600;
    padding-bottom: 11px;
  }
  legend {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  legend span {
    display: block;
    padding-top: 8px;
    padding-bottom: 11px;
  }
  .js-webform-checkboxes {
    margin-bottom: 30px;
    label {
      font-weight: normal;
      padding-bottom: 2px;
    }
    input {
      margin-bottom: 0;
    }
  }
}


/*----- Public Notification block -----*/

#block-publicnotification {
    background-color: #ebf3fe;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxODAiIGhlaWdodD0iMTgwIj4NCjxwYXRoIGQ9Ik04OSw5YTgxLDgxIDAgMSwwIDIsMHptMSwzOHY1OG0wLDI1djEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxNiIgc3Ryb2tlPSIjZTE2MDM2IiBmaWxsPSJub25lIi8+DQo8L3N2Zz4=");
    background-position-x: 20px;
    background-position-y: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    border-top: 2px solid #cde2ff;
    font-size: 16px;
    font-weight: 600;
    margin-top: 1em;
    padding: .85em 1.5em;
    p {
        margin-bottom: 0;
        margin-left: 30px;
    }
}



#block-publicnotice {
  background-color: #ebf3fe;
  border-top: 2px solid #cde2ff;
  font-size: 18px;
  font-weight: 600;
  margin-top: 1.5em;
  padding: .85em 1.5em;
  text-align: center;
  p {
    margin-bottom: 10px;
    margin-left: 30px;
    a {
      text-decoration: underline;
    }
  }
  .button {
    border-radius: initial;
    font-size: rem-calc(13);
    margin-right: .5rem;
  }
  .covid-19-public-notification {
    a {
    font-size: rem-calc(24);
    }
    img.c19-info {
      width: 50px;
      margin-right: 1rem;
    }
    p {
      margin: 7px 0;
    }
  }
}





.charter-petition-review-committee {
  margin-bottom: 2em;
  margin-top: 2em;
  dl {
    margin-bottom: 1.5em;
    dt {
      margin-bottom: 0;
    }
    dd {
      font-size: rem-calc(14);
      &.title {
        font-weight: 600;
      }
    }
  }
}



.fcss-lcap {
  .fcss-lcap-text {
    font-size: rem-calc(13);
    line-height: 1.25rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
  }
}



.unified-lower-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .hero {
    background-image: url("/themes/custom/fcss-theme/images/teacher-masked-w-students-01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    width: 100%;
  }
  .inner {
    display: flex;
    flex-flow: inherit;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 500px;
    h2 {
      color: $white;
      font-size: rem-calc(43);
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 1.15;
      margin-bottom: 38px;
      margin-top: 38px;
      text-transform: uppercase;
      z-index: 1;
    }
    a {
      text-transform: uppercase;
      z-index: 1;
    }
  }
  img {
    width: 100%;
    margin: 0 auto;
    max-width: 275px;
    z-index: 1;
  }
  .dark {
    background: rgba(0,0,0,0.6);
    width: 100%;
    min-height: 100%;
    position: absolute;
  }
}




.resolution-list {
  padding-bottom: 1rem;
  h3 {
    color: $dark-gray;
  }
  ul {
    list-style: none;
    margin-left: 0;
  }
}


.department-page-contacts-layout {
  margin-top: 3rem;
  p {
    font-size: rem-calc(13);
    padding-top: 1rem;
    .name {
      font-size: rem-calc(15);
      font-weight: 700;
    }
    .title {
      font-weight: 700;
    }
  }
}


.eoy-awards {
  margin-top: 2rem;
  .eoy-section {
    border-bottom: 1px solid $gray;
    margin-bottom: 2rem;
  }
  h2 {
    font-weight: 700;
    margin-bottom: 2rem;
  }
  h3 {

  }
  .row {
    margin-bottom: 2rem;
  }
  .video-grid {
    ul {
      li.modal-video {
        min-height: 75px;
        a:before {
          font-size: 50px;
        }
      }
    }
  }
  p {
    margin: 0;
    font-size: rem-calc(14);
    &.district {
      font-weight: 700;
    }
    &.position {
    }
  }
  a.fresco {
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;
  }
  .nominees {
    .column-block {
      margin-bottom: 1.5rem;
    }
    img.thumbnail {
      margin-bottom: 5px;
    }
    p {
      font-size: rem-calc(12);
      margin: 0;
      padding: 0;
      text-align: center;
    }
    .name {
      font-size: rem-calc(14);
      font-weight: 700;
    }
    .district {
      font-weight: 700;
    }
    .position {
      font-style: italic;
    }
    &.not-pictured {
      p {
        text-align: left;
      }
    }
  }
}

.mission {
  background-color: $blue-lightest;
  border-top: 2px solid $blue-primary;
  color: $blue-dark;
  padding: 1rem 1.5rem;
  margin: 12px 0;
  h3 {
    color: $blue-dark;
  }
}

.accordion-content {
  color: $black;
}


.contact-card {
  font-size: rem-calc(14);
  margin-bottom: 2rem;
  .title {
    font-size: rem-calc(15);
    font-weight: 700;
    text-transform: uppercase;
  }
  .name {
    font-weight: 600;
  }
}




/*----- Jobs Landing Page -----*/

.jobs-landing {
  .hero-img {
    position: relative;
    img {
      border-top: 10px solid #193365;
      max-width: 100%;
      min-height: 100%;
    }
  }
  .hero-content {
    position: absolute;
    left: 0;
    right: auto;
    bottom: 0;
    width: auto;
    min-width: 500px;
    max-width: 60%;
    padding: 10px 30px 13px;
    background: rgba(15,31,62,0.7);
    color: #ffffff;
    font-size: .9375rem;
    font-weight: 600;
    .hero-content__title {
      font-size: 1.5rem;
      margin-bottom: .5rem;
    }
    @media #{$small-only} {
      min-width: max-content;
    }
  }
  .need-content {
    text-align: center;
    background-color: #193365;
    color: #ffffff;
    min-height: 300px;
    padding: 40px 132px 0;
    @media #{$small-only} {
      padding: 20px;
      min-height: 225px;
    }
    @media #{$medium-only} {
      padding: 20px;
      min-height: 250px;
    }
    .need__title {
      font-size: 1.75rem;
      font-style: italic;
      font-weight: 700;
      margin-bottom: 1.25rem;
      @media #{$small-only} {
        font-size: 1.5rem;
      }
      @media #{$medium-only} {
        font-size: 1.5rem;
      }
    }
    .need__body {
      font-size: 1.25rem;
      font-weight: 600;
      @media #{$small-only} {
        font-size: 1rem;
      }
    }
  }
  .video {
    margin-bottom: 75px;
    .video-content {
      margin-top: -50px;
      }
    @media #{$small-only} {
      margin-bottom: 0;
      .video-content {
        margin-top: 30px;
      }
    }
    @media #{$medium-only} {
      margin-bottom: 25px;
      .video-content {
        margin-top: 25px;
      } 
    }
  }
  .opp {
    .opp-container {
      background: #193365;
      color: #ffffff;
      .opp-content {
        padding-top: 40px;
        padding-left: 40px;
        @media #{$small-only} {
          padding: 10px;
        }
        .opp__title {
          font-size: 1.25rem;
          font-weight: 700;
          margin-bottom: .5rem;
        }
        .opp__body {
          ul {
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
            li {
              font-weight: 600;
            }
          }
        }
        .opp__link {
          padding: 3px 0;
          border-bottom: 2px solid #ffffff;
          a {
            padding: 15px 0;
            font-weight: 600;
          }
        }
        .opp__contact {
          padding-top: .5rem;
          .opp__contact__title {
            font-size: 1.25rem;
            font-weight: 700;
          }
        }
      }
    }
  }
}






