{% extends "@stable/field/field.html.twig" %}

{# Create classes array #}
{% set classes = [
  bundle ~ '__' ~ field_name|replace({'field_' : ''})|clean_class
] %}

{% set title_classes = [
  bundle ~ '__' ~ field_name|replace({'field_' : ''})|clean_class ~ '--label'
] %}

{% set attributes = attributes.addClass(classes) %}
{% set title_attributes = title_attributes.addClass(title_classes) %}
