{{ attach_library('fcss/article-teaser') }}
<article{{ attributes.addClass(classes) }}>

  {% if title_prefix or title_suffix or display_submitted or page is empty and label %}
    <header>
      {{ title_prefix }}
      {% if not page and label %}
        <h2{{ title_attributes.addClass(title_classes) }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
      {% endif %}
      {{ title_suffix }}

      {% if display_submitted %}
        <div>
          {{ author_picture }}
          {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
          {{ metadata }}
        </div>
      {% endif %}

    </header>
  {% endif %}

  {{ content }}

</article>
