@import 'init';
@import "foundation";

.article--display-teaser {
    margin-left: 20px;
        @media #{$medium-up}{
            margin-left: 0;
        }
    h2.article__title {
        line-height: rem-calc(27px);
        font-size: rem-calc(22px);
        border: 0;
        font-weight: 600;
        color: $blue-darkest;
        padding: 0 0 7px 0;
        margin: 0;
        background: none;
        text-align: left;
        &:before {
            background: none;
        }
        @media #{$medium-up}{
            font-size: rem-calc(14px);
            line-height: rem-calc(17px);
            font-weight: 700;
        }
    }
    .article__body p {
        font-size: rem-calc(13px);
        line-height: rem-calc(19px);
        margin-bottom: 0;
    }
    .links.inline {
        list-style-type: none;
        margin: 0;
        padding: 0 0 10px 0;
        border: 0;
        li {
            font-size: rem-calc(14px);
            margin: 0;
            padding: 0;
            border: 0;
            a {
                @media #{$small-only}{
                    @include button();
                    text-decoration: none;
                    padding: 6px 8px;
                    background: $blue-bright;
                    font-weight:  600;
                    margin: 0;
                    margin-top: 10px;
                    text-decoration: none;
                }
                @media #{$medium-up}{
                    text-decoration: underline;
                }
            }
        }
    }
}


.article {
    &__more-link {
        font-size: rem-calc(16px);
        text-decoration: underline;
        text-align: center;
        @media #{$medium-up} {
            display: none;
            top: 18px;
            right: 0;
            text-align: left;
            text-decoration: none;
            margin-left: 20px;
            font-size: rem-calc(13px);
        }
    }
}

