{{ attach_library( 'fcss/public-notice' ) }}

<div class="layout-container layout-container--public-notice">
    <div class ="public-notice row">
        <div class="columns large-6 covid19-school-guidance">
            <span class="icon"><i class="fi-alert"></i></span>
            <span class="link"><a href="/novel-coronavirus-2019-covid-19-guidance-school-districts">Novel Coronavirus 2019 (COVID-19) Guidance for School Districts</a></span>
        </div>

        <div class="columns large-6 covid-community-update">
            <span class="icon"><i class="fi-page"></i></span>
            <span class="link"><a href="">Novel Coronavirus 2019 (COVID-19) Community Update</a></span>
        </div>

    </div>
</div>