@import 'init';

/*----------------  Public Notice  -------------*/


.layout-container--public-notice {
    background-color: #ebf3fe;
}


.public-notice {
    padding: 2em 0 1em; 
    .icon {
        position: relative;
        .fi-alert {
        padding-right: 10px;
        font-size: 30px;
        box-sizing: initial;
        color: #e16036;
        position: absolute;
        top: -10px;
        }
    }
    .link {
        padding-left: 30px;
        font-weight: 600;
    }
}   

    
    