@import 'init';


/*----------------  Events Listing Block  -------------*/

// Hide the bottom-most views row class
.page-content  .event--display-detailed-list:last-child {
    border-bottom: 0;
}

.events-block {
    &__title {
        margin-top: 25px;
        position: relative;
        font-size: rem-calc(21px);
        color: $blue-bright;
        border-bottom: 2px solid $blue-light;
        padding-bottom: 12px;
        margin-bottom: 20px;
        &:before {
            background: $blue-bright;
            bottom: 0;
            left: 0;
            content: "";
            display: block;
            height: 2px;
            margin: 0 0 -2px;
            position: absolute;
            width: 40px;
        }
    }
}

.event {
    margin-left: 15px !important;
    margin-right: 15px !important;
    border-bottom: 2px solid $gray;
    padding-bottom: 20px;
    @media #{$medium-up}{
        border: 0;
        padding-bottom: 12px;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    &--display-detailed-list {
        border-bottom: 1px dotted $gray;
        margin: 0 0 25px 0;
        padding-bottom: 15px;
        &:last {
            border-bottom: 0;
        }
    }
    &--display-calendar-list {
        margin-bottom: 1px;
    }
    &__title {
        margin-bottom: 3px;
        font-size: rem-calc(21px);
        a {
            color: $blue-darkest;
        }
        &--calendar-list {
            line-height: rem-calc(27px);
            font-size: rem-calc(22px);
            font-weight: 600;
            color: $blue-darkest;
            margin-bottom: 0;
            margin-top: 9px;
            @media #{$medium-up} {
                margin: 0;
                line-height: rem-calc(21px);
                font-size: rem-calc(16px);
                font-weight: $semi-bold;
                color: $blue-darkest;
                margin-bottom: 1px;
            }
        }
    }
    &__event-daterange {
        font-size: rem-calc(16px);
        color: $blue-primary;
        font-weight: bold;
        padding: 10px 0 0px 0;
    }
    &__time {
        &--calendar-list {
            font-size: rem-calc(14px);
            line-height: rem-calc(21px);
            color: $gray-dark;
        }
    }
    &__event-location {
        font-size: rem-calc(14px);
        line-height: rem-calc(21px);
    }
    &__event-registration {
        margin-bottom: 12px;
    }
    &__event-registration,
    &__event-documents {
        font-weight: 700;
        a {
            font-weight: normal;
        }
    }
    &__calendar-icon {
        background: $blue-primary;
        border-radius: $global-radius;
        color: #fff;
        text-align: center;
        margin-right: 12px;
        padding: 3px 8px;
        margin-top: 4px;
        text-align: left;
        display: inline-block;
        @media #{$medium-up} {
            float: right;
            text-align: center;
            padding: 2px 10px 7px;
            display: block;
        }
    }
    &__month {
        font-weight: 600;
        text-transform: uppercase;
        font-size: rem-calc(14px);
        display: inline-block;
        @media #{$medium-up} {
            display: block;
            font-size: rem-calc(13px);
        }
    }
    &__day {
        font-weight: 700;
        font-size: rem-calc(14px);
        line-height: 24px;
        display: inline-block;
        @media #{$medium-up} {
            display: block;
            font-size: rem-calc(24px);
        }
    }
    &__more-link {
        font-size: rem-calc(16px);
        text-decoration: underline;
        text-align: center;
        @media #{$medium-up} {
            display: none;
            top: 18px;
            right: 0;
            text-align: left;
            text-decoration: none;
            margin-left: 20px;
            font-size: rem-calc(13px);
        }
    }
    .epacket-available {
        font-size: rem-calc(13px);
    }
    .event-document-display {
        font-size: rem-calc(13px);
    }
    .virtual-meeting-link {
        font-size: rem-calc(13px);
    }
}

.event__agenda-link {
    background-color: #385988;
    color: #ffffff;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 2px 6px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 5px;
}
.event__agenda-link:hover {
    color: #ffffff;
}


