{{ attach_library( 'fcss/event-calendar-list' ) }}

<article{{ attributes.addClass(classes) }}>
        <div class="columns small-12 medium-2">
            <div class="event__calendar-icon">
                <div class="event__month">{{ event_month }}</div>
                <div class="event__day">{{ content.field_event_time.0['#attributes']['datetime']|date("d") }}</div>
            </div>
        </div>
        {# content.field_event_date.0['#markup'] #}
        <div class="columns small-12 medium-10">
            <div{{ title_attributes.addClass(title_classes) }}><a href="{{ url }}">{{ label }}</a></div>
            {% if node.field_event_agenda.0.url is not empty %}
              {% if node.field_event_agenda.0.url.external %}
                <a class="event__agenda-link" href="{{ node.field_event_agenda.uri }}">Agenda</a>
              {% else %}
                <a class="event__agenda-link" href="{{ path(node.field_event_agenda.0.url.routeName, node.field_event_agenda.0.url.routeParameters) }}">Agenda</a>
              {% endif %}
            {% endif %}

            <div class="event__time event__time--calendar-list">{{ content.field_event_time.0['#attributes']['datetime']|date("h:i A") }} | {{ location }}
            </div>


            {% if '1' in node.field_event_document.0.display %}
                <div class="event-document-display"><a href="{{ file_url(node.field_event_document.entity.uri.value) }}" target="_blank">{{ node.field_event_document.0.description }}</a></div>
            {% endif %}


            {% if '1' in node.field_board_epacket_available.0.value %}
                <div class="epacket-available">({{ node.field_board_epacket_available.fieldDefinition.label }})</div>
            {% endif %}

            {% if node.field_virtual_meeting_link is not empty %}
                <div class="virtual-meeting-link"><a href="{{ node.field_virtual_meeting_link.0.url }}" target="_blank">{{ node.field_virtual_meeting_link.0.title }}</a></div>
            {% endif %}



        </div>
</article>
